body {
  background-color: #fff;
  margin: 0;
}

h1, h2, h3, p, a, li {
  font-family:Arial, Helvetica, sans-serif;
}

header {
   overflow: hidden;
   background-color: #111;
   text-align: center;
   font-size: 14px;

}

header h1 a{
  color:#fff;
  text-decoration: none;
}

header h1 a:hover {
  background-color: none;
  color: none;
}

header h1 a:active {
  background-color: none;
  color: red;
}

.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.topnav ul li{
  float: left;
}

.topnav ul li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav ul li:hover:not(.active){
  background-color: #000 ;
}

.topnav ul li.right{
  float: right;
}

.topnav ul li.active{
  background-color: #3CBC8D;
}

@media screen and (max-width: 600px){
    .topnav ul li.right,
    .topnav ul li {float: none;}
}


#form {
  text-align: left;
  padding-left: 10px;
}

#form input, button {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#form input[type=button], input[type=submit], input[type=reset], button{
  background-color: #3CBC8D;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: grabbing;
}
